{% extends 'base.html.twig' %}

{% block title %}Tutorial{% endblock %}

{% block body %}
    <!-- Start All Pages -->
    <div class="all-page-title page-breadcrumb">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-12">
                    <h1>{{ tutorial.titre }}</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Pages -->

    <!-- Start blog details -->
    <div class="blog-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading-title text-center">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-12">
                    <div class="blog-inner-details-page">
                        <div class="blog-inner-box">
                            <div class="side-blog-img">

                                <img class="img-fluid" src="{{ asset('uploads/'~ tutorial.image ) }}" alt="">
                                <div class="date-blog-up">
                                    {{ tutorial.dateTuto|date("d M Y H:i:s") }}
                                </div>
                            </div>
                            <div class="inner-blog-detail details-page">
                                <ul>
                                    <li>Price : <span>
                                            {% if(tutorial.prix == 0) %} Free {% else %} {{ tutorial.prix }} DT {% endif %}</span>
                                    </li>
                                    <li>
                                        {% if(tutorial.prix != 0) %}  <a href="{{ path('add_tuto_cart',{'id':tutorial.id}) }}" class="btn btn-info"> Add to Cart</a>  {% endif %}

                                    </li>

                                </ul>
                                <hr>

                                <blockquote style="">
                                    <h2>Tutorial</h2>
                                    {% if(tutorial.prix == 0) %}
                                    <video width="500" height="500"  controls >
                                        <source src="{{ asset('uploads/'~ tutorial.video ) }}" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                        {% else %}
                                        <p>This tutorial is Paid please proceed to payment before accessing it</p>
                                    {% endif %}
                                </blockquote>
                                <hr>
                                <blockquote style="">
                                    <h2>Description</h2>
                                    <p>{{ tutorial.description }} Lorem Ipsum is simply dummy text of the printing and
                                        typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                                        ever since the 1500s, when an unknown printer took a galley of type and
                                        scrambled it to make a type specimen book. It has survived not only five
                                        centuries, but also the leap into electronic typesetting, remaining essentially
                                        unchanged. It was popularised in the 1960s with the release of Letraset sheets
                                        containing Lorem Ipsum passages, and more recently with desktop publishing
                                        software like Aldus PageMaker including versions of Lorem Ipsum.
                                    </p>
                                </blockquote>
                            </div>
                        </div>


                    </div>
                </div>

                {# Right #}

                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 col-12 blog-sidebar">
                    <div class="right-side-blog">

                        <h3>Category</h3>
                        <div class="blog-categories">
                            <ul>
                                <li><span>{{ tutorial.category }}</span></li>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End details -->
{% endblock %}
