{% extends 'base.html.twig' %}

{% block title %}<title>Browse Courses</title>{% endblock %}

{% block body %}

    <div class="all-page-title page-breadcrumb">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Courses</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Pages -->

    <!-- Start Menu -->
    <div class="menu-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="special-menu text-center">
                        <div class="button-group filter-button-group">
                            <button class="active" data-filter="*">All</button>
                            <button data-filter=".online">Online</button>
                            <button data-filter=".on-site">On-site</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row special-list">
                {% for formation in formations %}
                    {% if formation.mode == "Online" %}
                        <div class="col-lg-4 col-md-6 special-grid online">
                            <a href="{{ path('formation_show',{'id':formation.id}) }}" class="list-group-item list-group-item-action">
                                <p>Starting Date : {{ formation.dateDebut|date("d M Y") }}</p>
                                <p>{{ formation.description }}</p>
                                <p>{{ formation.price }} DT</p>
                            </a>
                        </div>
                    {% endif %}
                    {% if formation.mode == "On-site" %}
                        <div class="col-lg-4 col-md-6 special-grid on-site">
                            <a href="{{ path('formation_show',{'id':formation.id}) }}" class="list-group-item list-group-item-action">
                                <p>Starting Date : {{ formation.dateDebut|date("d M Y") }}</p>
                                <p>{{ formation.description }}</p>
                                <p>{{ formation.price }} DT</p>
                            </a>
                        </div>
                    {% endif %}

                {% endfor %}


            </div>
        </div>
    </div>
{% endblock %}